* {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #272525;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 15px 0;
}

.main_logo {
  color: #fff;
  font-size: 20pt;
  cursor: default;
}

.main_content {
  margin-top: 45px;
}

.card_btn {
  appearance: none;
  border: 0;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 8px 16px;
  font-size: 18pt;
}

.buy-btn {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #fff;
  color: #000;
  margin-top: 20px;
  padding: 12px 14px;
  font-size: 10pt;
  transition: 0.45s;
}

.buy-btn:hover {
  background: #000;
  color: #fff;
}

.product-bio {
  display: flex;
  align-items: center;
}

.main-cart-img {
  width: 100px;
}

.products {
  display: flex;
  justify-content: space-around;
}

.product-item {
  border: 2px solid #272525;
  border-radius: 20px;
  display: flex;
  width: 250px;
  height: 200px;
  flex-direction: column;
  align-items: center;
  background-color: #ee9494;
  margin: 20px 20px;
}

.cost {
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-align: left;
}

.goods_img {
  margin-top: 10px;
  border: 2px solid #272525;
  border-radius: 15px;
  width: 75px;
  height: 75px;
}

.invisible {
  display: none;
}

.modal {
  position: absolute;
  top: 85px;
  left: 1415px;
  display: flex;
  border-radius: 7px;
  justify-content: flex-end;
}

.modal__content {
  background-color: rgb(172, 76, 76);
  padding: 15px 15px;
  border-radius: 7px;
  border: 2px solid #000;
}

.del-btn {
  background-color: red;
  width: 50px;
  border: 2px solid #000;
  margin: 10px 0px 10px 5px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-feedback {
  width: 600px;
  display: flex;
  background-color: #5c585871;
  align-items: center;
  flex-direction: column;
  border: none;
  border-radius: 20px;
}

.form-name {
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
}

.form-input {
  width: 250px;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
  outline: none;
}

.red {
  border: 2px solid rgb(255, 0, 0);
}

.incorrect-input {
  font-size: 16px;
  font-weight: bold;
  color: rgb(197, 26, 26);
}

.form-user-message {
  outline: none;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  resize: none;
}

.form-btn-send {
  margin: 15px 0;
  padding: 15px;
  background-color: black;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  color: #fff;
  transition: 0.45s;
}

.form-btn-send:hover {
  background-color: rgb(54, 167, 54);
}

.hidden {
  display: none;
}
